@import url('https://fonts.googleapis.com/css2?family=Manjari:wght@100&display=swap');
html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    background-color: #E7EDEB;
}

header{
    position: fixed;
    width: 100%;
    z-index: 2;
}

nav {
    background-color: #003A6B;
    display: flex;
    flex-direction: row;
}

nav img {
    width: 6%;
    border-radius: 50%;
    padding: 1%;
}

#nombre {
    font-size: 1.5em;
    width: 80%;
    font-family: Manjari;
    padding: 2%;
    color: #42C3F7;
}

nav ul {
    width: 100%;
    display: flex;
    flex-direction: row;
}

nav ul li {
    margin: 3.5%;
}

nav ul li a {
    text-transform: uppercase;
    padding: 8px;
    border-radius: 3px;
    font-size: 1em;
    color: #42C3F7;
    transition: 0.3s ease;
}

nav a:hover {
    background: #00A5E9;
    color: #E5E1D9;
    transition: 0.3s ease;
}

.checkbtn {
    font-size: 2em;
    margin-right: 2%;
    float: right;
    margin-top: 0;
    color: white;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

header .foto_header {
    width: 100%;
}

#inicio{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #003A6B;
    padding-top: 5%;
}

#inicio .descripcion{
    font-size: 1.5em;
    margin: 10%;
    grid-column: 1fr;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: left;
}

#inicio .descripcion p{
    margin-top: 5%;
}

#inicio .imagen{
    grid-column: 1fr;
    width: 80%;
    justify-content: center;
    align-items: center;
    display: flex;
    justify-content: center;
}

#inicio img{
    width: 50%;
    margin-top: 10%;
    animation: bounce 3s infinite;
    transform: scale(1.2);
}

@keyframes bounce {
    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }
}

#wave{
    margin-top: -5%;
}

#aprendizaje{
    margin-top: 4%;
    text-align: center;
    font-family:Impact;
    font-size: 1.5em;
    margin: auto;
    width: 80%;
    -webkit-box-shadow: 0px 10px 48px 13px rgba(156, 156, 156, 0.83);
    -moz-box-shadow: 0px 10px 48px 13px rgba(156, 156, 156, 0.83);
    box-shadow: 0px 10px 48px 13px rgba(156, 156, 156, 0.83);
    background-color: white;
    border-radius: 5%;
}

#aprendizaje h2{
    padding-top: 5%;
    font-size: 2em;
}

#aprendizaje h2, 
#aprendizaje h3{
    background-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: hue 5s infinite linear;
}

@keyframes hue {
    from {
        filter: hue-rotate(0deg);
    }

    to {
        filter: hue-rotate(360deg);
    }
}

#aprendizaje article{
    margin: 5%;
    font-size: 1.2em;
    text-align: center;
    padding: 2%;
}

#aprendizaje ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 2%;
}

#aprendizaje article img {
    transition: 1s ease;
    width: 120%;
}

#aprendizaje article img:hover{
    transition: 1s ease;
    filter: drop-shadow(8px 6px 4px #003A6B);
}

#ambiciones{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    margin-top: 10%;
    margin-bottom: 5%;
}

#ambiciones button{
    border: 0;
    background-image: linear-gradient(150deg, #9500ff, #09f, #00ddff);
    border-radius: 8px;
    color: #fff;
    display: flex;
    font-size: 1rem;
    padding: 4px;
    cursor: pointer;
    transition: 0.3s;
    width: fit-content;
    margin-top: 2%;
}

#ambiciones button span{
    background-color: black;
    padding: 16px 24px;
    border-radius: 6px;
    transition: .3s;
    text-transform: uppercase;
}

#ambiciones button:hover span{
    background: none;
}

#ambiciones button:active{
    transform: scale(0.9);
    display: flex;
    flex-direction: row;
}

#ambiciones article{
    text-align: center;
    font-size: 2em;
    font-family: Manjari;
    font-weight: bold;
    margin: 2%;
    padding: 5%;
    display: none;
}

#ambiciones article img{
    width: 25%;
    margin-top: 2%;
}

footer{
    display: flex;
    justify-content: space-between;
    padding: 2%;
    background-color: #42C3F7;
}

footer article{
    width: 30%;
}

footer a{
    color: black;
}

footer article i{
    font-size: 2em;
    margin-right: 15%;
    transition: 0.5s;
}

footer article i:hover{
    transform: scale(1.3);
    transition: 0.5s;
}

@media (max-width: 830px) {
    .checkbtn {
        display: flex;
        margin-top: 3%;
        margin-right: 3%;
        float: right;
    }

    nav img{
        width: 8%;
    }

    nav ul {
        position: fixed;
        flex-direction: column;
        width: 100%;
        background-color: #E7EDEB;
        top: 9%;
        right: -100%;
        text-align: center;
        transition: all .5s ease;
    }

    nav ul li {
        display: block;
        margin: 2%;
        line-height: 30px;
    }

    nav ul li a {
        font-size: 1.2em;
    }

    #check:checked~ul{
        right: 0;
    }

    #nombre {
        font-size: 2em;
        font-family: Manjari;
        width: 90%;
    }

    #inicio article img{
        width: 70%;
    }

    footer article{
        width: 50%;
    }
}

@media (max-width: 376px) {
    #nombre {
        font-size: 1em;
        margin-top: 2%;
        padding: 3.5%;
    }

    nav img {
        width: 14%;
    }

    nav .checkbtn {
        font-size: 1.7em;
        margin-top: 3%;
    }

    nav ul {
        top: 8%;
    }

    nav ul li a {
        font-size: 1em;
    }

    #inicio{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #inicio article:first-child{
        font-size: 1.2em;
        text-align: center;
    }

    #inicio article img{
        width: 50%;
        margin-top: 0;
    }

    #aprendizaje article ul li img{
        width: 70%;
    }

    #aprendizaje h2,
    #aprendizaje h3{
        font-size: 1em;
    }

    #ambiciones h1{
        text-align: center;
    }

    #ambiciones article{
        font-size: 1.5em;
    }

    footer ul li{
        font-size: 0.8em;
    }

    footer article i{
        font-size: 1.5em;
        justify-content: center;
        margin-right: 8%;
        margin-top: 8%;
    }
}